---
import getPosts from '../getPosts';
import Layout from '../layouts/Layout.astro';
import plainwhiteConfig from '../plainwhite.config';
import formatDate from '../utils/formatDate';

export const getStaticPaths = async () => {
    const posts = await getPosts();
    return posts.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
};

const {
    plainwhite: { disqus_shortname },
} = plainwhiteConfig;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} pageType="post">
    <div class="post-container">
        <a class="post-link" href={`${entry.slug}`}>
            <h2 class="post-title">{entry.data.title}</h2>
        </a>
        <div class="post-meta">
            <div class="post-date">
                <i class="icon-calendar"></i>{formatDate(entry.data.date.split(' ')[0])}
            </div>
            {
                entry.data.categories.split(' ').length && (
                    <ul class="post-categories">
                        {entry.data.categories.split(' ').map((c: unknown) => (
                            <li>{c}</li>
                        ))}
                    </ul>
                )
            }
        </div>
        <div class="post">
            <Content />
        </div>
        {disqus_shortname && 
        
            <div id="disqus_thread" style="margin-top:25px"></div>
                <script define:vars={{disqus_shortname}}>
                    var disqus_config = function () {
                    this.page.url = '{{ page.url | absolute_url }}';
                    this.page.identifier = '{{ page.url | absolute_url }}';
                    };
                    (function () {
                    var d = document, s = d.createElement('script');
                    s.src = `https://${disqus_shortname}.disqus.com/embed.js`;
                    s.setAttribute('data-timestamp', + new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
                powered by Disqus.</a>
                </noscript>

            </div>
        
        }
    </div>
</Layout>
